<div class="page-header">
  <%= link_to conceptos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <h1>Nuevo concepto</h1>
</div>

<%= render 'form' %>
