<div class="page-header">
  <%= link_to remisiones_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <h1>Copiar Remision #<%= @remision.consecutivo %> de <%= @remision.sucursal.nombre %></h1>
</div>
<script>

  autoComp();

</script>
<%= render 'formcopiar' %>
