<div class="page-header">
  <%= link_to remisiones_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <h1>Nueva Venta</h1>
</div>
<script>

  agregarLinea();
  autoComp();

</script>
<%= render 'form' %>
